
i {
    color: white;
    font-size: 1.3rem;
}

span {
    font-weight: 800;
}

.whitemode:hover {
    transform: scale(1.2);

}

.whitemode {
    transition: all ease .3s;
}

header a {
    text-decoration: none;
}